<article class="flex flex-col">
  
  <div class="flex flex-col">
  
<div class="meta">
  {{ if .PublishDate }}
    {{ $now := now }}
    {{ $today := $now.Format "2006-01-02" | time }}
    {{ $postDate := .PublishDate.Format "2006-01-02" | time }}
    {{ $days := div (sub $today.Unix $postDate.Unix) 86400 }}

    <time datetime="{{ .PublishDate }}" title='{{ .PublishDate.Format "2006-01-02 15:04" }}'>
      {{ if lt $days 7 }}
        {{ if eq $days 0 }}
          Today 🍥
        {{ else if eq $days 1 }}
          Yesterday 🍥
        {{ else }}
          {{ $days }} days ago 🍢
        {{ end }}
      {{ else }}
        {{ .PublishDate.Format "01-02" }}
      {{ end }}
    </time>
  {{ end }}
</div>


  <h5 style="margin-top: -0.25rem;">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h5>

  </div>
  
  <div class="description">
    {{ if .Params.description }}
      {{ .Params.description }}
    {{ end }}
  </div>
  
  
    <!-- "Read More" and Arrow together at the end of the summary 
    <a class="read-more inline-flex items-center mt-2" href="{{ .Permalink }}">
      {{ i18n "readMore" }}
      <span class="w-4 h-4 stroke-2 inline-block ml-2">
        {{ partial "utils/icon" "arrow-right" }}
      </span>
    </a>-->
  </div>
  
</article>
