<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default `en` }}" class="scroll-smooth dark">
  <head>
    {{- partial "head/index" . -}}
    <link rel="canonical" href="{{ .Permalink }}">
  </head>

  <body class="max-w-screen-md mx-auto px-2.5">
    <div class="header", 
      style="padding-left: 5px; padding-right: 5px;
      padding-top: 20px; padding-bottom: 17px;">
        {{ partial "header/index" . }}
        {{ partial "header/theme-button" . }}
    </div>

    <main id="content" class="px-2.5">
      {{- block "main" . -}}
      {{- end }}
    </main>

    {{- partial "footer/index" . -}}
    
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('p').forEach(function (p) {
            p.innerHTML = p.innerHTML.replace(/([\u4e00-\u9fa5])([\w\d])/g, '$1 $2');
            p.innerHTML = p.innerHTML.replace(/([\w\d])([\u4e00-\u9fa5])/g, '$1 $2');
        });
      });
    </script>
  </body>
</html>