<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default `en` }}" class="scroll-smooth dark">
  <head>
    {{- partial "head/index" . -}}
    <link rel="canonical" href="{{ .Permalink }}">
  </head>

<body class="max-w-screen-md mx-auto" style="padding-left: 25px; padding-right: 25px;">

  <div class="header relative w-screen max-w-full flex flex-nowrap flex-col sm:flex-row items-center" 
    style="padding-left: 2rem; padding-right: 2rem;">
    <div class="flex-shrink-0 max-w-xs overflow-hidden">
      {{ partial "header/index" . }}
    </div>

  <div class="mt-3 sm:mt-0 sm:ml-auto flex-shrink-0" style="margin-right: 8px;">
    {{ partial "header/theme-button" . }}
  </div>
  </div>

  <style>
    #content {padding-top: 120px; /* 宽屏默认间距 */}
    @media (max-width: 639px) {
      #content {padding-top: 165px; /* 窄屏间距 */}
    }
  </style>

  <main id="content" class="px-2.5">
    {{- block "main" . -}}
    {{- end }}
  </main>

    {{- partial "footer/index" . -}}
    
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('p').forEach(function (p) {
            p.innerHTML = p.innerHTML.replace(/([\u4e00-\u9fa5])([\w\d])/g, '$1 $2');
            p.innerHTML = p.innerHTML.replace(/([\w\d])([\u4e00-\u9fa5])/g, '$1 $2');
        });
      });
    </script>
  </body>
</html>
