{{ define "main" }}

{{ $pages := .Pages }}
{{/* {{ $paginator := .Paginate $pages }} */}}

<!--
<div class="flex flex-col">
  {{ if .Title }}
    <h2 class="text-lg font-extrabold">
      {{ .Title }}
    </h2>
  {{ end }}
</div>
-->

{{ with .Content }}
  <div class="content" style="padding-top: 0.5rem;">
    {{ . }}
  </div>
{{ end }}

<section class="flex flex-col" style="padding-bottom: 1.2rem; padding-top: 0.5rem; gap: 0.8rem;">
  {{ $prevYear := 0 }}
  {{ range $index, $page := $pages }}
    {{ if $page.PublishDate }}
      {{ $year := $page.PublishDate.Year }}

      {{ if ne $year $prevYear }}
      <div class="year-separator flex justify-center items-center text-xs font-semibold text-gray-400 dark:text-gray-400 my-2"
      style="margin-top:1.2rem; margin-bottom:1.2rem;">
                ～ {{ $year }} ～
        </div>
        {{ $prevYear = $year }}
      {{ end }}
    {{ end }}

    {{ partial "list/default" $page }}
  {{ end }}
</section>


{{/*
{{ if gt $paginator.TotalPages 1 }}
  {{ partial "list/pagination" . }}
{{ end }}
*/}}

<div class="flex justify-center" style="margin-top: 2rem;">
  <a href="#" onclick="scrollToTop()" class="pagination-button text-xs font-semibold" style="color: #9CA3AF; text-decoration: none; cursor: pointer;">
    Top!
  </a>
</div>

<script>
  const backToTopBtn = document.getElementById('backToTop');
  if (backToTopBtn) {
    backToTopBtn.addEventListener('click', () => {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    });

    // 页面滚动时显示或隐藏按钮
    window.addEventListener('scroll', () => {
      if (window.scrollY > 200) {
        backToTopBtn.style.display = 'block';
      } else {
        backToTopBtn.style.display = 'none';
      }
    });

    // 初始隐藏按钮
    backToTopBtn.style.display = 'none';
  }

  function scrollToTop() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  }
</script>

{{ end }}
