{{ define "main" }}

<article class="flex flex-col gap-5">
  <header class="flex flex-col">
    
    <div class="meta">
      {{/* Check if PublishDate exists */}}
      {{ if .PublishDate }}
        <time datetime="{{ .PublishDate }}" title='{{ .PublishDate.Format "Mon, Jan 2, 2006" }}'>
          {{ .PublishDate.Format "Jan 2, 2006" }}
        </time>
      {{ end }}
    </div>
    
    <h5 class="title-large">{{ .Title }}</h5>
  </header>

  {{ partial "single/table-of-contents" . }}

  <section>{{ .Content | emojify }}</section>

  {{ partial "single/comments/index" . }}

  <!--  
  <footer>
    {{ with (.GetTerms "tags") }}
      <div class="pb-14 taxonomy-list tags-list">
        {{ range . }}
          <a href="{{ .RelPermalink }}" alt="{{ .LinkTitle }}">
            {{ .LinkTitle }}
          </a>
        {{ end }}
      </div>
    {{ end }}
  </footer>
  -->

<!-- Previous and Next Post Buttons -->
<div class="flex items-center justify-between font-semibold w-full mt-4">
  <!-- Previous post (left side). -->
  <div class="flex justify-start w-1/2">
    {{ $prev := .Prev }}
    {{ if and $prev (eq $prev.Section .Section) }}
      <a href="{{ $prev.Permalink }}" class="pagination-button" title="前一篇">
        {{ $prevArrow := resources.Get "icons/arrow-left.png" }}
        <img src="{{ $prevArrow.RelPermalink }}" alt="Previous" />
      </a>
    {{ else }}
      <a href="#" class="pagination-button pointer-events-none" title="没有啦">
        {{ $prevArrow := resources.Get "icons/arrow-left.png" }}
        <img src="{{ $prevArrow.RelPermalink }}" alt="Previous" />
      </a>
    {{ end }}
  </div>

  <!-- Back to Home Link (unchanged) -->
  <div class="flex justify-center items-center mx-auto px-4 mt-4">
    <a href="/" class="text-xs font-semibold" style="color: #9CA3AF; text-decoration: none;">
      Take Me Home
    </a>
  </div>

  <!-- Next post (right side). -->
  <div class="flex justify-end w-1/2">
    {{ $next := .Next }}
    {{ if and $next (eq $next.Section .Section) }}
      <a href="{{ $next.Permalink }}" class="pagination-button" title="后一篇">
        {{ $nextArrow := resources.Get "icons/arrow-right.png" }}
        <img src="{{ $nextArrow.RelPermalink }}" alt="Next" />
      </a>
    {{ else }}
      <a href="#" class="pagination-button pointer-events-none" title="没有啦">
        {{ $nextArrow := resources.Get "icons/arrow-right.png" }}
        <img src="{{ $nextArrow.RelPermalink }}" alt="Next" />
      </a>
    {{ end }}
  </div>
</div>

</article>

{{ end }}
