<div style="padding-top: 1.5rem !important;">
    <footer class="flex-col items-center" style="padding-bottom: 1.5rem;">
        {{ $color := .Params.banner }}
    
        {{ if not $color }}
            {{ $color = "green" }}
        {{ end }}
    
        {{ $banner := printf "banner_%s.png" $color }}
    
        <img src="{{ "/img/" | relURL }}{{ $banner }}" class="mb-5">

        <div class="flex justify-center items-center text-xs font-semibold text-gray-500" 
                style="font-size: 0.7rem; padding-bottom: 0.5rem;">
            © {{ replace .Site.Copyright "{year}" now.Year }} 
          </div>     
    
    </footer>
</div>

    <!--
            <div class="grid items-center justify-center pb-10 gap-3">
            {{ partial "footer/copyright" . }}
            {{ partial "footer/social" . }} 
        </div>
        -->